.scene-container.svelte-7vnivq{width:100%;height:100%;position:relative;cursor:grab}.scene-container.svelte-7vnivq canvas{display:block;width:100%;height:100%}.scene-container.svelte-7vnivq:active{cursor:grab}
